*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
    padding-left: 80px;
    position: relative;
}

.container img{
width: 180px;
cursor: pointer;
margin-bottom: 20px;
}

.content{
    position: absolute;
    top: 50%;
    color: aliceblue;
    transform: translateY(-50%);
}

.content h1{
    font-size: 50px;
    font-weight: 600;
}

.content h1 span{
    color: chocolate;
}

.content button{
    border: 2px solid white;
    padding: 15px;
    background: transparent;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 18px;
}

.content button img{
    height: 13px;
    width: 13px;
    margin-bottom: -2px;
    margin-left: 4px;
}

.launch-time{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.rocket{
    position: absolute;
    right: -120%;
    bottom: -100%;
    animation: rocket 2s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: -100%;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
